a {
  text-decoration: none;
  color: var(--Secondary-600, #3b3c4a);
}

.blog {
  display: flex;
  width: 1216px;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--White, #fff);
}

.title {
  color: var(--Secondary-800, #181a2a);
  text-align: center;

  /* Heading/h2/Semibold */
  font-family: "Work Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 120% */
}

.bread_crumbs {
  color: var(--Secondary-600, #3b3c4a);
  text-align: center;

  /* Body/b4/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.home_pic {
  display: flex;
  width: 1216px;
  height: 450px;
  padding: 40px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: linear-gradient(
      0deg,
      rgba(20, 22, 36, 0.4) 0%,
      rgba(20, 22, 36, 0.4) 100%
    ),
    url("../images/homepic.png"), lightgray 50% / cover no-repeat;
}

.blog_title {
  color: var(--White, #fff);

  /* Heading/h1/Semibold */
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
}

.blog_title img {
  width: 36px;
  height: 36px;
  border-radius: 20px;
}
.authors_name {
  color: var(--White, #fff);

  /* Body/b4/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.date_posted {
  color: var(--White, #fff);

  /* Body/b4/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.badge {
  display: flex;
  padding: 4px 10px;
  justify-content: start;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  background: var(--Theme-1-Primary, #4b6bfb);
  color: var(--White, #fff);
  width: fit-content;
  /* Body/b5/Medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

/* Media Query for screens with a maximum width of 768px (tablets) */
@media (max-width: 768px) {
  .blog,
  .home_pic {
    width: 100%; /* Make the container full width on tablets */
    padding: 16px 0; /* Adjust padding for tablets */
  }

  .home_pic {
    height: 300px; /* Adjust height for tablets */
    padding: 20px; /* Adjust padding for tablets */
  }

  .badge {
    font-size: 12px; /* Adjust font size for tablets */
    line-height: 18px; /* Adjust line height for tablets */
  }
  .blog_title {
    padding-left: 15px;
  }
}

/* Media Query for screens with a maximum width of 576px (phones) */
@media (max-width: 576px) {
  .blog {
    padding: 12px 0; /* Adjust padding for phones */
  }

  .home_pic {
    display: none;
  }

  .title {
    font-size: 24px; /* Adjust font size for phones */
    line-height: 30px; /* Adjust line height for phones */
  }

  .badge {
    font-size: 10px; /* Adjust font size for phones */
    line-height: 16px; /* Adjust line height for phones */
  }
}
