/* 404.css (CSS for styling) */

.notfound_container {
  text-align: center;
  padding: 50px;
}

.notfound_container h1 {
  font-size: 3em;
  color: #f44336; /* Red color */
}

.notfound_container p {
  font-size: 1.2em;
  color: #333; /* Dark gray color */
}

.notfound_image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.notfound_container a {
  text-decoration: underline;
  color: blue;
}
